# Importing Libraries

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

pd.set_option('float_format', '{:f}'.format)

df = pd.read_csv('Original Data/data.csv', sep = '\t')

# Calculating Ocean Values based on given questions

In [18]:
df.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3

In [19]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df.dtypes)

race        int64
age         int64
engnat      int64
gender      int64
hand        int64
source      int64
country    object
E1          int64
E2          int64
E3          int64
E4          int64
E5          int64
E6          int64
E7          int64
E8          int64
E9          int64
E10         int64
N1          int64
N2          int64
N3          int64
N4          int64
N5          int64
N6          int64
N7          int64
N8          int64
N9          int64
N10         int64
A1          int64
A2          int64
A3          int64
A4          int64
A5          int64
A6          int64
A7          int64
A8          int64
A9          int64
A10         int64
C1          int64
C2          int64
C3          int64
C4          int64
C5          int64
C6          int64
C7          int64
C8          int64
C9          int64
C10         int64
O1          int64
O2          int64
O3          int64
O4          int64
O5          int64
O6          int64
O7          int64
O8          int64
O9          int64
O10         int64
dtype: object

In [20]:
df = df[df.E1 != 0]

In [21]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df.isna().sum())

race       0
age        0
engnat     0
gender     0
hand       0
source     0
country    9
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
N1         0
N2         0
N3         0
N4         0
N5         0
N6         0
N7         0
N8         0
N9         0
N10        0
A1         0
A2         0
A3         0
A4         0
A5         0
A6         0
A7         0
A8         0
A9         0
A10        0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
C8         0
C9         0
C10        0
O1         0
O2         0
O3         0
O4         0
O5         0
O6         0
O7         0
O8         0
O9         0
O10        0
dtype: int64

## The questionnaire uses IPIP 50 so we will calculate traits accordingly

In [22]:
df['E'] =             (df['E1']
                      + 6-df['E2']
                      + df['E3']
                      + 6-df['E4']
                      + df['E5']
                      + 6-df['E6']
                      + df['E7']
                      + 6-df['E8']
                      + df['E9']
                      + 6-df['E10'])

df['N'] =           (df['N1']
                    + 6-df['N2']
                    + df['N3']
                    + 6-df['N4']
                    + df['N5']
                    + df['N6']
                    + df['N7']
                    + df['N8']
                    + df['N9']
                    + df['N10'])

df['A'] =             (6-df['A1']
                      + df['A2']
                      + 6-df['A3']
                      + df['A4']
                      + 6-df['A5']
                      + df['A6']
                      + 6-df['A7']
                      + df['A8']
                      + df['A9']
                      + df['A10'])

df['C'] =                 (df['C1']
                          + 6-df['C2']
                          + df['C3']
                          + 6-df['C4']
                          + df['C5']
                          + 6-df['C6']
                          + df['C7']
                          + 6-df['C8']
                          + df['C9']
                          + df['C10'])

df['O'] =        (df['O1']
                 + 6-df['O2']
                 + df['O3']
                 + 6-df['O4']
                 + df['O5']
                 + 6-df['O6']
                 + df['O7']
                 + df['O8']
                 + df['O9']
                 + df['O10'])

In [23]:
df['E%'] = round((df['E']/50)*100, 2)
df['N%'] = round((df['N']/50)*100, 2)
df['A%'] = round((df['A']/50)*100, 2)
df['C%'] = round((df['C']/50)*100, 2)
df['O%'] = round((df['O']/50)*100, 2)

In [24]:
df.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,E,N,A,C,O,E%,N%,A%,C%,O%
0,3,53,1,1,1,1,US,4,2,5,...,44,11,46,47,43,88.000000,22.000000,92.000000,94.000000,86.000000
1,13,46,1,2,1,1,US,2,2,3,...,22,31,35,42,26,44.000000,62.000000,70.000000,84.000000,52.000000
2,1,14,2,2,1,1,PK,5,1,1,...,35,46,38,49,45,70.000000,92.000000,76.000000,98.000000,90.000000
3,3,19,2,2,1,1,RO,2,5,2,...,22,43,37,26,41,44.000000,86.000000,74.000000,52.000000,82.000000
4,11,25,2,2,1,2,US,3,1,3,...,34,30,44,34,34,68.000000,60.000000,88.000000,68.000000,68.000000

In [25]:
df.to_csv('Modified Data/calculated_data.csv', sep=',', index=False)

# Here we clean the data

In [26]:
oceandf = pd.read_csv('Modified Data/calculated_data.csv', sep=',')

In [27]:
oceandf.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,E,N,A,C,O,E%,N%,A%,C%,O%
0,3,53,1,1,1,1,US,4,2,5,...,44,11,46,47,43,88.000000,22.000000,92.000000,94.000000,86.000000
1,13,46,1,2,1,1,US,2,2,3,...,22,31,35,42,26,44.000000,62.000000,70.000000,84.000000,52.000000
2,1,14,2,2,1,1,PK,5,1,1,...,35,46,38,49,45,70.000000,92.000000,76.000000,98.000000,90.000000
3,3,19,2,2,1,1,RO,2,5,2,...,22,43,37,26,41,44.000000,86.000000,74.000000,52.000000,82.000000
4,11,25,2,2,1,2,US,3,1,3,...,34,30,44,34,34,68.000000,60.000000,88.000000,68.000000,68.000000

In [28]:
oceandf.describe()

,race,age,engnat,gender,hand,source,E1,E2,E3,E4,...,E,N,A,C,O,E%,N%,A%,C%,O%
count,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,...,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000,19718.000000
mean,5.323816,50769.599909,1.365098,1.616898,1.130135,1.952277,2.629070,2.759864,3.416929,3.152196,...,30.113297,30.971143,38.445532,33.473425,39.088194,60.226595,61.942286,76.891064,66.946851,78.176387
std,4.018794,7121452.497481,0.488788,0.499127,0.413673,1.504808,1.232454,1.313704,1.236612,1.222647,...,9.223427,8.616765,7.145284,7.306384,6.255063,18.446854,17.233531,14.290567,14.612769,12.510126
min,0.000000,13.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,20.000000,20.000000,20.000000,20.000000,20.000000
25%,3.000000,18.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,...,23.000000,25.000000,34.000000,28.000000,35.000000,46.000000,50.000000,68.000000,56.000000,70.000000
50%,3.000000,22.000000,1.000000,2.000000,1.000000,1.000000,3.000000,3.000000,4.000000,3.000000,...,30.000000,31.000000,39.000000,34.000000,40.000000,60.000000,62.000000,78.000000,68.000000,80.000000
75%,8.000000,31.000000,2.000000,2.000000,1.000000,2.000000,4.000000,4.000000,4.000000,4.000000,...,37.000000,37.000000,44.000000,39.000000,44.000000,74.000000,74.000000,88.000000,78.000000,88.000000
max,13.000000,999999999.000000,2.000000,3.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,50.000000,50.000000,50.000000,50.000000,50.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [29]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(oceandf.isna().sum())

race       0
age        0
engnat     0
gender     0
hand       0
source     0
country    9
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
N1         0
N2         0
N3         0
N4         0
N5         0
N6         0
N7         0
N8         0
N9         0
N10        0
A1         0
A2         0
A3         0
A4         0
A5         0
A6         0
A7         0
A8         0
A9         0
A10        0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
C8         0
C9         0
C10        0
O1         0
O2         0
O3         0
O4         0
O5         0
O6         0
O7         0
O8         0
O9         0
O10        0
E          0
N          0
A          0
C          0
O          0
E%         0
N%         0
A%         0
C%         0
O%         0
dtype: int64

In [30]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(oceandf['age'].value_counts())

18           1523
17           1370
19           1259
20           1231
21           1216
16           1148
22            970
23            895
15            743
24            703
25            691
26            520
27            492
14            475
28            449
30            372
29            361
32            329
31            315
33            262
35            245
34            243
13            238
36            223
38            206
37            198
45            182
43            180
40            180
41            174
42            169
39            167
46            143
48            141
44            136
49            131
50            131
47            118
52            115
51            106
55             96
54             94
53             93
57             80
56             72
60             71
58             60
59             43
62             36
64             29
61             28
65             27
63             25
66             24
68             20
67             19
69             15
70             12
71             11
1992            9
72              8
1994            8
1996            7
1995            5
75              5
1993            5
1989            5
1998            4
1997            4
1982            4
77              3
1990            3
1991            3
1985            2
1976            2
1986            2
188             2
79              2
76              2
1984            2
73              2
74              2
208             1
223             1
1964            1
78              1
191             1
1988            1
1999            1
99              1
266             1
211             1
80              1
1974            1
1961            1
97              1
1968            1
2000            1
1977            1
412434          1
999999999       1
100             1
92              1
118             1
Name: age, dtype: int64

In [31]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(oceandf[(oceandf['age']>1900) & (oceandf['age']<2012)])

,race,age,engnat,gender,hand,source,country,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10,E,N,A,C,O,E%,N%,A%,C%,O%
331,13,1997,1,2,1,1,US,3,1,3,1,3,2,5,3,5,5,4,2,4,1,3,4,3,3,4,1,1,4,1,5,3,5,1,1,2,1,1,2,3,3,1,2,1,2,5,1,2,5,4,4,1,2,1,1,5,2,37,35,36,27,23,74.000000,70.000000,72.000000,54.000000,46.000000
500,11,1995,2,2,1,2,PH,1,3,3,4,3,1,1,4,1,4,3,4,4,2,4,4,4,4,4,4,4,3,3,4,4,4,3,4,4,5,4,1,5,1,4,1,5,2,4,4,4,1,4,5,5,1,5,4,5,5,23,37,34,45,43,46.000000,74.000000,68.000000,90.000000,86.000000
649,11,1994,2,1,1,5,ID,1,3,1,5,2,4,1,5,1,1,5,1,5,2,5,5,5,3,5,4,4,1,2,2,5,5,5,3,5,1,2,2,1,4,2,5,5,5,1,3,4,5,5,5,4,1,1,4,3,3,18,46,25,22,31,36.000000,92.000000,50.000000,44.000000,62.000000
971,13,1997,1,2,1,5,(nu,3,2,4,1,3,1,5,2,4,4,4,3,4,1,2,4,3,3,4,2,2,4,1,5,2,5,3,1,4,4,3,2,3,2,1,2,4,2,5,1,2,4,3,5,1,2,1,1,4,1,39,34,39,33,20,78.000000,68.000000,78.000000,66.000000,40.000000
1044,13,1994,2,2,0,1,(nu,2,4,4,3,1,3,1,1,3,2,5,3,4,2,5,5,4,3,5,2,4,5,1,4,1,5,1,4,5,4,3,2,5,1,3,2,3,3,3,4,3,1,3,5,3,3,5,3,5,3,28,40,44,37,34,56.000000,80.000000,88.000000,74.000000,68.000000
1238,11,1994,2,1,1,1,PH,1,5,1,4,3,4,2,5,1,5,4,5,3,3,2,5,3,1,2,4,4,4,2,5,4,5,3,4,4,5,4,4,4,3,3,4,4,3,4,4,4,4,3,3,4,1,4,3,5,5,15,28,38,33,38,30.000000,56.000000,76.000000,66.000000,76.000000
1384,13,1992,0,2,1,5,BZ,3,3,1,3,2,3,1,2,1,5,5,2,3,3,5,1,4,3,1,4,1,4,1,4,3,5,1,5,4,5,3,2,3,3,3,3,3,2,1,3,3,3,4,3,3,1,4,3,4,4,22,33,45,30,36,44.000000,66.000000,90.000000,60.000000,72.000000
1403,13,1988,1,2,1,5,BZ,1,3,2,3,4,4,1,3,1,3,2,2,3,3,3,3,2,3,3,3,3,3,1,3,4,3,2,3,4,3,3,2,3,3,4,4,3,3,3,3,2,3,3,3,4,3,3,1,3,2,23,29,33,31,27,46.000000,58.000000,66.000000,62.000000,54.000000
1497,11,1990,2,2,1,1,PH,3,2,3,3,2,3,2,2,3,5,3,3,4,2,5,3,2,2,4,2,5,3,4,5,3,4,2,2,4,4,3,3,4,2,2,3,3,2,3,3,2,3,5,3,4,2,3,1,3,4,28,32,32,32,32,56.000000,64.000000,64.000000,64.000000,64.000000
1649,11,1999,2,1,1,5,US,3,5,2,3,4,4,2,5,4,5,2,4,3,2,2,2,3,1,4,2,4,3,1,3,3,3,3,3,4,3,3,3,4,2,5,4,4,2,3,3,2,3,3,3,3,3,3,1,2,5,23,25,32,35,28,46.000000,50.000000,64.000000,70.000000,56.000000
1684,6,1997,2,1,1,2,EG,4,1,5,1,5,1,5,3,3,3,1,2,5,1,3,1,1,1,3,5,5,5,4,3,1,5,1,4,5,2,3,3,5,4,4,3,3,2,2,5,2,1,4,1,4,1,5,3,5,4,43,29,37,34,42,86.000000,58.000000,74.000000,68.000000,84.000000
2100,4,1992,2,2,1,1,IN,1,5,2,3,1,5,1,5,1,3,5,1,1,3,1,5,1,5,1,3,5,3,1,1,1,5,4,5,5,3,3,2,3,3,5,5,1,5,3,4,4,1,5,3,3,3,3,2,3,4,15,30,35,28,35,30.000000,60.000000,70.000000,56.000000,70.000000
2500,4,1994,2,1,1,1,BD,1,4,4,3,3,4,2,1,1,2,3,3,3,1,4,2,4,3,3,3,3,4,1,3,1,3,3,4,5,3,2,1,5,3,3,3,1,1,4,4,3,1,3,1,3,3,4,1,3,3,27,33,38,35,33,54.000000,66.000000,76.000000,70.000000,66.000000
3002,4,1989,2,2,1,1,IN,3,1,5,3,3,4,3,2,5,2,2,1,5,4,5,2,2,3,2,4,4,4,2,4,1,5,4,3,5,5,3,5,5,2,5,4,5,2,4,5,3,4,2,4,4,3,3,2,4,4,37,32,39,38,29,74.000000,64.000000,78.000000,76.000000,58.000000
3016,5,1997,2,2,1,1,US,2,1,4,3,3,3,3,1,5,3,2,4,5,4,3,5,5,2,5,2,4,5,2,4,2,5,2,5,4,5,4,1,5,2,5,1,5,1,3,5,3,2,5,2,4,1,5,4,4,4,36,33,42,46,42,72.000000,66.000000,84.000000,92.000000,84.000000
3678,11,1984,2,2,2,5,TW,1,1,5,3,5,1,2,3,5,3,2,5,2,2,4,2,3,1,1,1,1,5,1,5,1,5,1,4,5,5,3,1,5,1,3,3,3,1,2,5,3,3,4,2,4,1,4,2,3,4,37,21,49,39,36,74.000000,42.000000,98.000000,78.000000,72.000000
3683,4,1994,1,2,1,1,US,5,4,1,5,3,4,2,5,1,5,5,2,5,5,5,5,3,5,5,5,3,3,4,3,2,5,4,4,4,4,1,4,1,4,1,2,1,1,1,1,1,5,3,3,2,4,3,1,5,1,19,43,34,19,22,38.000000,86.000000,68.000000,38.000000,44.000000
4502,5,1993,1,2,2,1,IL,3,4,3,3,3,5,4,3,2,3,1,2,1,2,3,2,1,2,3,1,2,1,4,2,1,1,1,1,1,2,4,1,1,4,4,1,2,3,5,3,5,1,2,1,1,1,1,5,2,1,27,22,24,34,32,54.000000,44.000000,48.000000,68.000000,64.000000
4543,13,1992,1,2,1,5,PK,1,1,5,5,5,1,5,1,5,5,5,1,5,5,1,5,5,5,5,5,5,1,1,5,1,5,1,5,5,5,1,1,1,1,5,1,5,1,5,5,5,1,5,1,5,1,5,5,5,5,38,42,42,42,50,76.000000,84.000000,84.000000,84.000000,100.000000
4791,11,1994,2,1,1,1,MY,3,3,4,2,3,3,2,3,4,4,2,3,3,4,4,3,2,2,4,2,2,4,4,4,3,3,2,3,4,4,3,2,4,3,2,3,3,2,3,3,3,2,4,3,4,2,4,2,4,4,31,27,35,32,36,62.000000,54.000000,70.000000,64.000000,72.000000
5082,13,1996,1,1,1,1,US,2,4,3,4,2,3,1,5,2,5,3,5,3,3,2,2,2,2,2,2,4,3,1,3,3,4,2,5,3,3,4,4,4,3,2,4,4,3,5,2,2,1,2,3,3,2,4,2,2,4,19,22,35,31,31,38.000000,44.000000,70.000000,62.000000,62.000000
5145,13,1996,2,2,1,1,EG,3,3,2,3,3,4,2,2,5,4,5,2,5,3,5,5,5,5,5,5,4,3,5,2,4,5,3,2,4,3,3,4,5,4,3,5,5,4,2,4,1,3,3,2,3,3,4,1,4,4,29,47,27,29,30,58.000000,94.000000,54.000000,58.000000,60.000000
5777,4,1982,2,2,1,1,IN,5,3,4,1,4,5,1,2,5,5,5,4,5,3,5,5,5,5,5,3,2,2,2,5,5,5,5,5,5,1,4,5,5,2,4,5,1,5,4,4,1,5,4,4,3,4,2,1,5,3,33,43,33,29,24,66.000000,86.000000,66.000000,58.000000,48.000000
5932,11,1995,2,2,1,1,CN,3,2,3,3,4,1,3,1,5,4,3,2,4,5,3,1,4,3,2,1,1,3,1,5,1,5,2,3,4,3,3,1,4,1,4,1,4,1,3,5,1,5,5,3,3,2,3,3,5,3,37,26,42,43,31,74.000000,52.000000,84.000000,86.000000,62.000000
6219,11,1991,1,2,1,1,PH,1,4,2,3,1,3,1,4,2,5,2,5,3,5,2,3,5,4,4,5,5,4,3,5,3,2,3,3,4,3,4,1,1,4,2,1,5,5,5,3,1,3,5,3,2,1,3,2,2,4,18,30,31,33,30,36.000000,60.000000,62.000000,66.000000,60.000000
6614,4,1998,2,2,1,2,AE,4,2,3,2,3,2,2,1,2,2,3,2,3,3,2,4,1,3,2,3,5,4,1,3,2,4,3,3,3,4,4,2,4,2,3,2,4,1,4,3,3,3,4,3,3,2,3,2,3,2,35,28,34,39,30,70.000000,56.000000,68.000000,78.000000,60.000000
6965,5,1992,2,2,2,1,LB,3,3,4,3,4,3,3,3,4,5,3,3,5,4,3,3,3,3,5,5,1,5,2,4,1,5,1,5,5,3,4,3,5,4,1,1,3,5,5,5,3,4,4,3,4,3,5,3,5,5,31,35,46,34,37,62.000000,70.000000,92.000000,68.000000,74.000000
7756,1,1995,2,2,1,1,PR,2,4,2,4,4,3,1,5,1,4,4,2,4,2,1,2,1,2,4,3,3,2,1,2,3,3,3,3,3,3,3,3,3,1,4,1,4,2,5,4,4,1,3,1,4,3,4,4,4,3,20,29,30,40,39,40.000000,58.000000,60.000000,80.000000,78.000000
7998,4,1961,1,2,1,5,TT,3,3,4,3,3,4,2,3,4,5,4,2,3,3,3,3,1,2,4,3,3,3,1,3,3,5,2,4,2,5,3,2,5,1,4,1,4,1,4,4,3,4,3,3,5,3,4,1,5,4,28,30,37,43,33,56.000000,60.000000,74.000000,86.000000,66.000000
8140,4,1989,1,3,1,1,IN,3,1,2,2,2,2,1,3,2,5,4,3,4,3,4,3,3,3,5,3,3,2,1,4,3,2,2,3,3,2,2,4,3,1,3,3,1,3,4,3,1,3,3,2,2,3,3,1,3,3,27,35,31,29,26,54.000000,70.000000,62.000000,58.000000,52.000000
8174,3,1989,2,2,1,2,FI,3,1,4,1,5,1,5,3,3,1,4,2,3,3,2,2,4,5,4,3,1,5,3,4,1,4,1,5,5,5,4,1,5,4,2,1,5,1,4,4,4,2,5,2,3,1,4,4,3,4,43,34,46,41,40,86.000000,68.000000,92.000000,82.000000,80.000000
9415,5,1986,2,2,1,1,US,4,1,5,5,4,1,3,1,5,5,3,3,5,5,3,1,5,3,3,1,2,5,1,5,1,5,1,3,5,5,3,3,5,1,3,5,3,3,1,5,5,1,5,5,4,5,5,5,5,5,38,28,47,32,41,76.000000,56.000000,94.000000,64.000000,82.000000
9777,11,1976,2,2,1,1,GB,4,4,5,3,4,3,4,3,4,4,1,5,3,5,1,5,1,1,1,1,1,5,1,3,2,4,2,4,5,5,5,2,5,1,4,1,5,5,5,4,5,1,5,1,4,1,5,1,4,4,34,16,44,43,43,68.000000,32.000000,88.000000,86.000000,86.000000
9916,11,1993,2,2,1,1,ID,2,4,2,4,2,4,2,4,2,4,3,3,4,4,4,4,3,3,2,3,4,3,1,3,3,3,3,4,2,2,4,5,5,3,4,4,3,2,3,3,2,5,2,4,4,4,3,3,4,4,20,31,30,32,27,40.000000,62.000000,60.000000,64.000000,54.000000
10096,5,1986,2,1,1,1,BD,4,2,5,3,2,4,3,1,4,3,5,2,3,1,4,2,3,3,2,1,5,3,1,5,3,4,4,3,5,4,4,1,4,1,4,2,4,1,5,4,3,3,3,2,3,1,3,1,3,2,35,32,35,44,30,70.000000,64.000000,70.000000,88.000000,60.000000
10134,11,1991,2,2,1,5,MY,1,2,4,3,3,3,1,3,5,5,4,3,5,5,5,5,5,3,5,5,1,5,1,5,2,5,3,5,5,5,5,5,5,2,5,4,5,2,5,5,4,3,3,1,5,3,5,2,5,5,28,41,47,41,40,56.000000,82.000000,94.000000,82.000000,80.000000
10244,13,1977,2,2,1,2,US,3,2,5,3,4,1,5,5,5,5,5,3,5,1,4,5,5,5,5,5,5,3,5,3,5,4,1,3,5,5,5,1,5,1,5,1,5,4,5,5,5,1,4,5,5,1,5,5,5,5,36,47,31,47,45,72.000000,94.000000,62.000000,94.000000,90.000000
10715,1,2000,1,1,1,2,US,5,5,1,1,5,1,1,5,5,1,2,3,1,1,1,1,1,1,1,1,2,5,1,1,1,5,1,1,1,1,2,5,5,1,1,1,1,1,2,4,2,4,1,1,5,1,3,2,1,5,34,17,33,31,31,68.000000,34.000000,66.000000,62.000000,62.000000
10720,11,1995,2,2,1,1,MY,2,3,3,3,3,4,3,4,2,4,3,3,3,2,3,2,3,2,2,3,2,4,2,3,2,3,2,4,4,3,4,3,3,3,2,3,2,2,4,3,2,4,2,4,3,3,4,2,4,3,25,28,37,31,27,50.000000,56.000000,74.000000,62.000000,54.000000
10901,13,1968,2,2,0,2,US,5,5,5,1,5,1,5,1,5,1,5,1,5,5,1,5,3,1,5,5,5,5,5,5,1,3,1,5,5,5,5,1,5,1,3,1,5,3,3,5,2,5,5,5,5,3,5,1,5,5,46,36,40,44,33,92.000000,72.000000,80.000000,88.000000,66.000000
10934,13,1982,2,2,1,1,US,1,1,1,1,5,1,1,3,3,1,5,1,5,1,3,5,3,5,5,5,1,4,1,5,1,5,1,3,5,3,1,1,5,5,1,1,5,3,5,3,1,1,5,1,5,1,1,1,5,5,34,46,45,34,38,68.000000,92.000000,90.000000,68.000000,76.000000
10944,5,1993,2,2,1,5,TR,2,3,5,3,4,1,2,5,2,5,4,3,2,3,5,3,5,5,5,4,4,5,1,5,1,3,3,5,5,5,5,5,5,1,5,1,1,4,5,3,3,1,5,4,5,1,5,2,5,5,28,39,43,37,42,56.000000,78.000000,86.000000,74.000000,84.000000
11755,11,1974,2,2,1,1,ID,2,4,4,4,4,3,2,3,3,3,5,3,3,2,2,3,2,2,3,1,1,5,1,5,3,4,3,5,5,4,4,2,4,2,2,3,3,2,4,3,3,4,3,3,3,2,2,1,4,3,28,28,44,35,28,56.000000,56.000000,88.000000,70.000000,56.000000
12156,3,1985,1,2,1,1,NZ,4,1,5,1,4,1,5,5,5,5,3,4,3,5,3,1,1,1,3,1,1,5,1,5,1,5,1,5,5,5,5,1,5,1,5,1,5,1,5,5,4,3,2,3,4,2,5,3,4,4,40,19,50,50,36,80.000000,38.000000,100.000000,100.000000,72.000000
12354,13,1996,2,2,1,1,SA,1,3,3,3,3,3,1,2,2,1,3,3,3,3,3,3,2,2,3,2,4,4,1,5,3,4,3,3,3,3,3,3,3,4,3,5,3,3,3,3,3,2,3,2,2,1,3,3,2,3,28,27,35,27,32,56.000000,54.000000,70.000000,54.000000,64.000000
12707,11,1994,2,2,1,2,MY,2,4,2,5,2,5,1,1,5,4,4,4,4,2,3,2,4,3,4,4,3,3,1,5,2,5,3,3,4,3,4,1,4,2,2,1,4,3,4,4,2,5,3,5,3,1,4,1,4,2,23,34,38,39,26,46.000000,68.000000,76.000000,78.000000,52.000000
12846,11,1996,2,2,1,5,CA,2,4,4,3,3,2,4,4,2,4,4,4,4,2,4,3,3,3,3,4,1,5,4,4,1,5,1,3,4,3,3,4,3,2,3,4,2,3,2,3,3,3,4,2,3,1,3,2,2,3,28,34,41,27,32,56.000000,68.000000,82.000000,54.000000,64.000000
12889,11,1993,1,2,1,2,MY,3,1,3,3,3,1,3,3,4,5,4,3,5,3,4,3,4,4,4,3,5,3,2,5,2,4,3,4,4,3,2,4,3,3,4,2,3,3,3,4,3,2,5,2,4,1,4,2,5,5,33,37,35,31,41,66.000000,74.000000,70.000000,62.000000,82.000000
12963,13,1992,2,2,1,2,PK,3,1,4,3,5,2,2,4,3,5,2,1,5,3,4,5,4,4,5,3,5,3,1,5,1,5,3,2,5,3,4,1,3,2,3,4,2,3,4,3,3,4,3,2,2,1,3,1,4,2,32,40,37,33,29,64.000000,80.000000,74.000000,66.000000,58.000000
13125,4,1992,2,1,1,1,IN,1,4,5,2,4,5,5,2,2,2,4,4,5,2,3,4,5,5,4,2,2,5,2,4,4,4,3,4,5,4,3,5,4,2,2,5,1,4,2,5,1,1,4,2,5,1,5,2,5,4,32,38,39,25,40,64.000000,76.000000,78.000000,50.000000,80.000000
13223,9,1990,2,2,1,1,IN,4,2,3,5,1,5,5,4,5,5,5,1,5,1,5,5,5,4,5,5,2,1,1,5,3,5,5,5,5,5,1,1,2,5,2,5,3,3,5,4,2,1,2,3,1,5,5,2,5,1,27,49,39,27,27,54.000000,98.000000,78.000000,54.000000,54.000000
13403,3,1992,2,2,1,5,IT,1,3,2,1,2,3,2,5,1,3,3,4,5,1,2,4,4,5,4,1,4,3,4,3,1,3,3,5,4,3,2,1,5,4,5,3,5,3,3,5,4,2,4,1,5,1,5,4,5,5,23,35,33,38,46,46.000000,70.000000,66.000000,76.000000,92.000000
13441,11,1991,2,2,1,1,ID,2,2,3,3,2,1,1,3,4,5,5,2,5,2,5,5,5,5,5,5,3,3,4,4,3,5,3,3,4,2,5,4,2,4,3,4,4,3,4,3,4,3,3,3,5,1,5,3,4,5,28,48,32,30,40,56.000000,96.000000,64.000000,60.000000,80.000000
13602,11,1982,2,1,1,1,PH,1,1,1,5,5,1,5,1,1,1,5,1,5,1,5,5,1,1,5,5,5,5,1,5,1,5,1,5,5,5,5,1,5,1,5,1,5,1,5,5,5,5,5,1,5,1,5,1,1,5,34,42,46,50,38,68.000000,84.000000,92.000000,100.000000,76.000000
14628,3,1998,1,1,3,1,US,4,1,5,4,5,1,3,3,5,1,5,4,5,1,2,5,2,1,5,1,5,3,4,2,3,2,1,2,1,3,3,5,3,3,4,5,5,3,5,4,4,5,5,4,5,1,5,5,1,5,42,33,24,32,38,84.000000,66.000000,48.000000,64.000000,76.000000
15535,4,1989,2,1,1,1,MY,3,2,3,3,4,2,2,2,5,5,1,3,4,3,2,2,2,2,5,3,5,4,1,3,2,1,4,3,5,3,3,3,5,2,3,2,2,2,3,3,2,1,3,2,5,2,5,3,4,5,33,27,31,34,40,66.000000,54.000000,62.000000,68.000000,80.000000
15781,13,1989,2,1,1,5,KR,5,2,3,3,4,4,2,3,3,3,3,4,4,3,4,2,4,3,3,3,3,3,3,3,3,2,3,2,4,3,4,3,4,4,3,3,3,3,2,3,3,4,3,3,4,3,4,4,4,4,32,31,29,30,34,64.000000,62.000000,58.000000,60.000000,68.000000
15855,13,1976,2,1,1,5,KR,1,3,4,1,4,3,3,2,2,1,2,4,3,2,2,2,1,2,1,3,4,4,1,3,2,2,2,3,4,2,4,3,5,2,2,1,3,3,5,4,3,2,4,3,4,1,4,3,3,4,34,22,33,38,37,68.000000,44.000000,66.000000,76.000000,74.000000
16079,5,1996,1,2,1,2,US,4,2,5,2,3,1,5,2,4,3,1,4,2,1,3,3,2,1,3,1,1,4,1,3,1,4,3,4,3,5,5,2,3,1,5,3,5,1,5,5,2,2,4,2,1,1,4,1,3,3,41,23,41,45,31,82.000000,46.000000,82.000000,90.000000,62.000000
16259,11,1982,2,2,1,1,KR,1,5,5,3,3,4,3,4,4,4,1,1,4,1,4,4,4,4,3,4,1,5,1,5,4,3,2,4,4,3,5,5,4,3,3,2,5,1,3,4,1,5,3,5,4,3,4,3,3,3,26,38,40,37,26,52.000000,76.000000,80.000000,74.000000,52.000000
16670,11,1995,2,1,1,1,SE,1,3,3,3,2,3,3,4,2,5,3,3,4,5,4,2,2,2,4,1,2,2,2,4,2,4,4,4,4,2,4,4,4,2,2,1,3,2,3,3,4,3,5,2,5,1,4,5,4,5,23,26,34,34,44,46.000000,52.000000,68.000000,68.000000,88.000000
16888,11,1996,2,2,1,1,PH,3,4,2,4,1,5,1,3,1,1,4,3,5,4,2,3,1,2,4,3,5,1,2,5,3,5,3,1,5,1,1,2,4,3,1,1,1,3,1,3,3,5,5,4,4,1,5,1,5,4,21,29,29,26,35,42.000000,58.000000,58.000000,52.000000,70.000000
17041,13,1994,1,2,1,5,US,5,1,5,1,5,1,5,3,2,1,2,4,3,1,3,1,1,1,1,1,1,5,1,4,1,5,1,5,5,5,4,2,4,1,3,1,4,3,4,3,3,3,3,3,4,2,4,2,5,3,45,20,49,39,34,90.000000,40.000000,98.000000,78.000000,68.000000
17042,11,1985,2,2,3,2,NL,2,5,1,5,1,5,1,5,3,4,5,1,5,1,5,5,4,5,5,4,5,5,1,5,5,5,4,3,5,3,1,5,5,5,3,3,4,3,3,3,5,1,5,1,4,1,5,1,4,3,14,48,35,27,42,28.000000,96.000000,70.000000,54.000000,84.000000
17059,4,1990,2,1,1,2,IN,2,1,5,4,5,1,5,3,1,1,1,5,1,3,1,1,2,1,1,3,1,5,1,1,1,4,1,1,5,3,2,1,4,3,3,1,4,1,1,4,3,2,5,3,4,1,3,1,5,2,38,15,39,36,35,76.000000,30.000000,78.000000,72.000000,70.000000
17502,13,1992,2,2,1,2,IR,3,1,4,3,4,1,4,3,4,3,4,1,3,2,4,2,4,4,1,2,1,4,1,5,1,2,1,4,5,4,3,3,4,2,3,2,2,1,2,3,3,4,5,5,3,1,3,1,3,5,38,33,44,33,31,76.000000,66.000000,88.000000,66.000000,62.000000
17823,11,1984,2,3,1,5,US,3,3,3,5,2,3,3,3,3,5,3,5,5,3,3,2,3,2,4,2,1,3,1,5,2,5,2,4,5,4,5,3,4,2,5,4,4,3,5,5,2,3,2,3,3,3,3,2,5,3,25,28,44,40,29,50.000000,56.000000,88.000000,80.000000,58.000000
18188,11,1992,2,1,1,4,US,3,4,3,3,3,3,2,2,3,2,4,4,3,2,3,3,3,4,4,3,4,4,1,4,2,5,1,3,4,3,3,3,3,3,3,3,2,3,2,3,3,2,4,1,3,1,3,3,3,3,30,33,39,28,36,60.000000,66.000000,78.000000,56.000000,72.000000
18523,5,1996,1,2,1,2,US,4,2,4,3,5,1,5,5,1,2,5,2,5,2,2,3,5,4,4,1,5,4,1,3,1,5,1,5,5,5,5,1,5,1,5,1,5,1,5,5,3,3,5,3,5,1,1,2,5,5,36,37,43,50,37,72.000000,74.000000,86.000000,100.000000,74.000000
18661,11,1998,1,1,1,1,AU,1,2,3,5,3,3,1,5,5,5,5,5,4,3,5,5,3,1,4,3,1,5,4,2,5,4,5,3,3,3,5,5,5,5,1,5,5,1,2,3,3,5,3,5,5,3,1,3,2,4,23,34,29,29,26,46.000000,68.000000,58.000000,58.000000,52.000000
18730,1,1964,2,2,1,5,JO,3,4,5,3,4,2,4,1,1,5,4,4,5,2,2,1,1,1,2,1,5,5,1,5,1,5,1,1,5,5,4,3,5,1,5,4,5,1,3,5,5,1,5,1,3,1,5,4,5,5,32,23,42,42,47,64.000000,46.000000,84.000000,84.000000,94.000000
18800,5,1993,2,2,1,4,SA,3,4,3,2,2,4,2,5,2,5,3,3,3,2,3,2,4,3,2,2,3,2,1,3,3,5,3,3,3,4,3,2,2,2,3,2,3,1,4,3,2,3,5,3,3,1,3,4,3,3,22,29,34,35,34,44.000000,58.000000,68.000000,70.000000,68.000000
19613,13,1998,1,1,3,5,GB,5,2,5,1,3,1,5,2,5,2,2,4,1,2,4,2,4,2,5,2,4,3,4,1,2,1,2,2,4,4,1,3,3,3,1,2,3,2,1,2,3,2,2,4,2,3,4,2,1,2,45,28,27,25,25,90.000000,56.000000,54.000000,50.000000,50.000000

## Removing outliers and formatting age values

In [32]:
oceandf = oceandf[~(((oceandf['age'] > 2012) | (oceandf['age'] < 1900)) & (oceandf['age'] > 100))]

In [33]:
#2012 is the date this data was collects so we will subtract birthday values from that
oceandf['age'] = oceandf['age'].apply(lambda x: 2012-x if (x>1900) & (x<2010) else x)

In [35]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(oceandf['age'].value_counts())

18     1531
17     1375
19     1264
20     1240
21     1219
16     1155
22      973
23      900
15      747
24      704
25      691
26      522
27      494
14      479
28      451
30      376
29      361
32      329
31      315
33      262
35      246
34      243
13      239
36      225
38      207
37      198
45      182
43      180
40      180
41      174
42      169
39      167
46      143
48      142
44      137
49      131
50      131
47      118
52      115
51      107
55       96
54       94
53       93
57       80
56       72
60       71
58       60
59       43
62       36
64       29
61       28
65       27
63       25
66       24
68       20
67       19
69       15
70       12
71       11
72        8
75        5
77        3
74        2
73        2
76        2
79        2
92        1
100       1
12        1
97        1
80        1
99        1
78        1
Name: age, dtype: int64

In [36]:
oceandf['country'] = oceandf['country'].apply(lambda x: np.nan if (x=='(nu' or x == 'A1' or x == 'A2') else x)

In [37]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(oceandf['country'].value_counts())

US    8748
GB    1531
IN    1462
AU     974
CA     923
PH     648
IT     277
MY     247
PK     222
DE     191
ZA     179
BR     175
ID     172
SE     169
NZ     157
NO     147
RO     135
NL     133
SG     133
FR     129
DK     122
IE     107
AE     100
FI      90
PT      87
BE      86
RS      85
GR      85
ES      82
MX      82
PL      79
TR      70
EG      49
SA      45
BD      44
KE      43
TH      42
HK      41
AR      41
LB      41
BG      41
CH      40
HR      40
CN      40
JP      37
NG      35
HU      34
SI      34
LK      31
VN      30
KR      29
LT      29
JM      28
CZ      28
IL      27
TW      26
EU      24
TT      23
SK      22
LV      21
AT      20
GH      20
RU      19
AP      19
CO      18
CL      18
BZ      17
VE      17
IR      17
PR      16
JO      14
IS      13
EE      13
AL      12
UA      12
MT      11
UG      11
BA      10
QA      10
NP      10
MA       9
CR       9
BM       8
MU       8
BH       8
PE       8
CY       8
TN       7
MK       7
EC       6
OM       6
SV       6
KW       6
DO       5
BN       5
BW       4
PA       4
HN       4
DZ       4
AZ       4
GE       4
ZW       3
GT       3
BO       3
MV       3
KH       3
ME       3
MM       3
JE       3
NI       2
HT       2
SY       2
IQ       2
LY       2
MN       2
BS       2
GG       2
UY       2
TZ       2
CM       2
FJ       2
MP       2
BB       2
LA       2
PG       2
RW       2
LS       2
PY       2
MW       2
VI       2
ZM       2
VC       2
MZ       2
GD       1
AO       1
MR       1
ET       1
UZ       1
KY       1
TC       1
CV       1
SD       1
GY       1
SR       1
GU       1
FO       1
AS       1
GP       1
AG       1
BT       1
BF       1
PW       1
IM       1
KZ       1
KG       1
Name: country, dtype: int64

In [38]:
oceandf.to_csv('Modified Data/calculated_data.csv', sep=',')

## formatting data to make more sense and storing it in a different csv file

In [39]:
oceandf['engnat'] = oceandf['engnat'].replace(to_replace=[0, 1, 2], value=[np.nan, 'Yes', 'No'])

oceandf['race'] = oceandf['race'].replace(to_replace=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                                          value=[np.nan, 'Mixed Race', 'Arctic',
                                                 'Caucasian (European)', 'Caucasian (Indian)', 'Caucasian (Middle East)',
                                                 'Caucasian (North African, Other)', 'Indigenous Australian', 'Native American',
                                                 'North East Asian', 'Pacific', 'South East Asian',
                                                 'West African, Bushmen, Ethiopian', 'Other'])
oceandf['gender'] = oceandf['gender'].replace(to_replace=[0, 1, 2, 3], value=[np.nan, 'Male', 'Female', 'Other'])
oceandf['hand'] = oceandf['hand'].replace(to_replace=[0, 1, 2, 3], value=[np.nan, 'Right', 'Left', 'Both'])
oceandf['source'] = oceandf['source'].replace(to_replace=[1, 2, 3, 4, 5], value=['Another page', 'Google', 'Facebook', '.edu domain site', 'Other or not provided'])

In [40]:
oceandf['race'].value_counts()

Caucasian (European)                10533
Other                                2551
South East Asian                     1861
Caucasian (Indian)                   1516
Mixed Race                           1433
Caucasian (Middle East)               515
Caucasian (North African, Other)      397
West African, Bushmen, Ethiopian      259
Native American                       201
North East Asian                      188
Pacific                                65
Indigenous Australian                  24
Arctic                                 13
Name: race, dtype: int64

In [41]:
oceandf.to_csv('Modified Data/formatted_data.csv', sep=',', index=False)

In [42]:
oceandf = pd.read_csv('Modified Data/formatted_data.csv')

In [43]:
oceandf.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,E,N,A,C,O,E%,N%,A%,C%,O%
0,Caucasian (European),53,Yes,Male,Right,Another page,US,4,2,5,...,44,11,46,47,43,88.000000,22.000000,92.000000,94.000000,86.000000
1,Other,46,Yes,Female,Right,Another page,US,2,2,3,...,22,31,35,42,26,44.000000,62.000000,70.000000,84.000000,52.000000
2,Mixed Race,14,No,Female,Right,Another page,PK,5,1,1,...,35,46,38,49,45,70.000000,92.000000,76.000000,98.000000,90.000000
3,Caucasian (European),19,No,Female,Right,Another page,RO,2,5,2,...,22,43,37,26,41,44.000000,86.000000,74.000000,52.000000,82.000000
4,South East Asian,25,No,Female,Right,Google,US,3,1,3,...,34,30,44,34,34,68.000000,60.000000,88.000000,68.000000,68.000000

In [44]:
oceandf.describe()

,age,E1,E2,E3,E4,E5,E6,E7,E8,E9,...,E,N,A,C,O,E%,N%,A%,C%,O%
count,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,...,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000,19708.000000
mean,26.246144,2.628831,2.759742,3.416988,3.152070,3.432312,2.452913,2.867211,3.376497,3.094429,...,30.113051,30.971382,38.445352,33.474021,39.087071,60.226101,61.942764,76.890704,66.948041,78.174142
std,11.557782,1.232415,1.313717,1.236593,1.222479,1.281956,1.241591,1.431678,1.266058,1.396326,...,9.223119,8.616588,7.146319,7.306884,6.255672,18.446238,17.233176,14.292639,14.613768,12.511344
min,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,20.000000,20.000000,20.000000,20.000000,20.000000
25%,18.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,...,23.000000,25.000000,34.000000,28.000000,35.000000,46.000000,50.000000,68.000000,56.000000,70.000000
50%,22.000000,3.000000,3.000000,4.000000,3.000000,4.000000,2.000000,3.000000,3.000000,3.000000,...,30.000000,31.000000,39.000000,34.000000,40.000000,60.000000,62.000000,78.000000,68.000000,80.000000
75%,31.000000,4.000000,4.000000,4.000000,4.000000,5.000000,3.000000,4.000000,4.000000,4.000000,...,37.000000,37.000000,44.000000,39.000000,44.000000,74.000000,74.000000,88.000000,78.000000,88.000000
max,100.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,50.000000,50.000000,50.000000,50.000000,50.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [45]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(oceandf.isna().sum())

race       152
age          0
engnat      70
gender      24
hand       100
source       0
country    395
E1           0
E2           0
E3           0
E4           0
E5           0
E6           0
E7           0
E8           0
E9           0
E10          0
N1           0
N2           0
N3           0
N4           0
N5           0
N6           0
N7           0
N8           0
N9           0
N10          0
A1           0
A2           0
A3           0
A4           0
A5           0
A6           0
A7           0
A8           0
A9           0
A10          0
C1           0
C2           0
C3           0
C4           0
C5           0
C6           0
C7           0
C8           0
C9           0
C10          0
O1           0
O2           0
O3           0
O4           0
O5           0
O6           0
O7           0
O8           0
O9           0
O10          0
E            0
N            0
A            0
C            0
O            0
E%           0
N%           0
A%           0
C%           0
O%           0
dtype: int64